body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
main {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menu{
	margin-left: 30px;
	margin-top: 30px;
}

.menu .menu-faketrigger{
	position: absolute;
	z-index: 1000;
	width: 35px;
	height: 35px;
	opacity: 0;
	cursor: pointer;
}


.menu .menu-lines {
	position: absolute;
	z-index: 999;
	width: 35px;
	height: 35px;
}
.menu .menu-lines span {
	display: block;
	width: 35px;
	height: 5px;
	margin-bottom: 10px;
	background-color: #CDCDCD;
	border-radius: 5px;
	transition: all ease .2s;
}

.menu .menu-faketrigger:checked~.menu-lines span{
	background-color: #232323;*/
}

.menu .menu-faketrigger:checked~ .menu-lines span:nth-child(1) {
	transform-origin: 0% 100%;
	transform: rotate(45deg) scaleX(1.25) scaleY(0.75);
}

.menu .menu-faketrigger:checked~ .menu-lines span:nth-child(2) {
	opacity: 0;
}

.menu .menu-faketrigger:checked~ .menu-lines span:nth-child(3) {
	transform-origin: 0% 100%;
	transform: rotate(-45deg) scaleX(1.25) scaleY(0.75);
}

.menu ul{
	position: absolute;
	z-index: 998;
	left: 0;
	top: 0;
	width: 300px;
	height: calc(100vh - 100px);
	padding-top: 100px;
	background-color: #EDEDED;
	margin-left: -300px;
}

.menu .menu-faketrigger:checked~ul {
	margin-left: 0;
	transition: all ease .2s;
}

.menu ul li{
	padding: 10px 30px;
}

.menu ul li a{
	text-decoration: none;
	color: #000;
	font-size: 22px;
}

.menu ul li a:hover{
	color:#999;
}